.git
.github
docs
.turbo
.deploy
**/.next
**/dist
**/*.tsbuildinfo
**/coverage
**/playwright-report
**/test
**/test-results
**/tests
**/node_modules
node_modules
.env
.env.*
!.env.example
*.log
outputs
work
